.TimeOfFamily{
    background-color: rgb(1, 83, 1);
    padding:60px 10%;
    text-align: center;
    color: white;
    font-size: 25px;
}
.TimeOfFamily button{
    padding: 10px;
    border: none;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
    color: rgb(2, 122,2);
    font-weight: bold !important;
    cursor: pointer;
}