.navbar{
    padding: 10px 5%;
    display: flex;
    justify-content: space-between;
}
.logo{
      display: flex;
    justify-content: center;
    align-items: center;

}
.navbar h2{
    color: rgb(2, 122, 2);
    cursor: pointer;
}
.n-right{
    display: flex;
    gap: 30px;
    align-items: center;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
.navbar ul li a{
    color: rgb(71, 71, 71);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.navbar ul li a:hover{
    color: rgb(2, 122, 2);
}
.menu-button{
    background-color: white !important;
    color: gray !important;
    font-size: 40px;
    margin-top: -15px !important;
    text-align: center;

}
.navbar button{
    height: 40px;
    background-color: rgb(2, 122, 2);
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgb(2, 85, 2);
}
@media screen and (max-width: 500px) {
.navbar h2{
font-size: 30px;
font-weight: bold;
margin-bottom: 10px;
}
    .navbar{
        flex-direction: column;
    }
    .navbar ul{
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
    }
    .n-right{
        flex-direction: column;
    }
    .navbar ul li a{
        font-weight: bold;
    }
}